#headerWithUsername p{
  font-size:small;
  margin-top:10px;
  
}

.cardContainer{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap; 
    gap:16px;
}

.finalContainer{
    width:fit-content;
    padding:20px;
    background-color: #fff;
    border:1px solid #c1c1c1;
    border-radius:10px;
    box-shadow:
    0 10px 30px rgba(0,0,0,0.08),
    0 2px 8px rgba(0,0,0,0.04);
    margin-top:20px;
    /* flex:1; */
}

.chartAndTableContainer{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    
}
.wholeTableContainer{
    margin-top:20px;
    flex:1.5
}

.reminder-task-section-container{
   
    display:flex;
    gap:20px;

}

/* Media Queries for Responsiveness */

@media (max-width: 1024px) {
    .reminder-task-section-container {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .finalContainer {
        width: 100%;
    }
    .wholeTableContainer {
        width: 100%;
        flex: none;
    }
}

@media (max-width: 480px) {
    #headerWithUsername h3 {
        font-size: 18px;
    }
}

