.tableHeader{
    display:flex;
    margin-bottom:20px;
}

.tableHeade p{
    margin-left:auto;
    color:blue;
    cursor:pointer;
}



.tableContainer{
   min-height:350px;
   
   flex-direction:column;
   background-color: #fff;
   padding:15px;  
   margin-left:30px;
   border:1px solid #c1c1c1;
   border-radius:10px;
   box-shadow:
    0 10px 30px rgba(0,0,0,0.08),
    0 2px 8px rgba(0,0,0,0.04); 
  
}

.tableRow{
    display:flex;
    align-items:center;
    gap:38px;
    border-bottom:1px solid #c1c1c1;
    padding-top:5px;
    margin-bottom:10px;
    padding-bottom:15px;
    
}

.jobRole{
    display:flex;
    flex-direction:column;
    gap:5px;
}

.jobRole p{
   font-size:small;
}


.tableRowLeftPart{
    display:flex;
    gap:20px;
    flex:1;
}

.tableRow > h4{
    width:100px;
}

.tableRow > p{
    width:120px;
    text-align:right;
}

#strecher{
  padding-bottom:10px;
  height:100%;
  display:flex;
   flex-direction:column;
   /* justify-content:space-between; */
   gap:15px;
}
.tableRow:last-child{
    border-bottom:none;
}

.view-all-link{
   text-decoration:none;
   margin-left:auto;
   color:blue !important;
   cursor:pointer;
}


.placeholder-container-recent-applications{
    display:flex;
    justify-content:center;
    align-items:center;
    width:300px;
    justify-content:center;
    margin-top:-20px;
}

.empty-placeholder-recent-applications{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    
}

.go-to-applications{
    display:flex;
    align-items:center;
    gap:3px;
    height:35px;
    padding:5px;
    font-size:15px;
    border:1px solid #8C1AF6;
    border-radius:3px;
    color:#8C1AF6;
    background-color: #f7f2fc;
    font-weight:600;
    cursor:pointer;
}

.calendar-section-data-container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:-10px;
}
.placeholder-container-applications {
    display:flex;
    justify-content:center;
    align-items:center;
}

.view-all-link-applications{
    text-decoration:none;
   color:inherit;
   cursor:pointer;
}

.encourage{
    background-color: #d7dceb68;
    padding:10px;
    border-radius:10px;
    line-height:25px;
}

.encourage p{
    white-space: pre-line;
}
.encourage-container{
    display:flex;
    flex-direction:column;
    gap:10px;
}
