.reminderSectionContainer{
    width:fit-content;
    margin-top:20px;
    height:230px;
    background-color: #fff;
    padding:20px;
    border:1px solid #c1c1c1;
    border-radius:10px;
    box-shadow:
    0 10px 30px rgba(0,0,0,0.08),
    0 2px 8px rgba(0,0,0,0.04); 
    flex:0.8
}

.reminderSectionHeader{
    display:flex;
    justify-content:space-between;
    
}

.view-all-link-reminder-section{
   text-decoration:none;
   color:inherit;
}

.reminderSectionHeader p{
    color:blue;
    /* margin-bottom:15px; */
    cursor:pointer;
}

.ReminderSectionTableRow{
    display:flex;
    gap:40px;
    margin-bottom:10px;
    justify-content:space-between;
    
}

.date-reminder-container{
    display:flex;
    gap:20px;
}

.schedule p{ 
  font-size:smaller;
  line-height:1.8;
}

.schedule h3{
    font-size:small;
}


.dateContainer{
    background-color: #eef2ff;
    padding:3px 5px;
    border-radius:3px;
    /* flex:1 */
}

.placeholder-container-calendar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:300px;
    justify-content:center;
}

.empty-placeholder-calendar-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    
}

.go-to-calendar{
    display:flex;
    align-items:center;
    gap:3px;
    height:35px;
    padding:5px;
    font-size:15px;
    border:1px solid #8C1AF6;
    border-radius:3px;
    color:#8C1AF6;
    background-color: #f7f2fc;
    font-weight:600;
    cursor:pointer;
}

.calendar-section-data-container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:-10px;
}


.encourage{
    background-color: #d7dceb68;
    padding:10px;
    border-radius:10px;
    line-height:25px;
    margin-top:10px;
}

.encourage p{
    white-space: pre-line;
}
.encourage-container{
    display:flex;
    flex-direction:column;
    gap:10px;
}

