.taskSectionHeader{
    display:flex;
    justify-content:space-between;

}
.taskSectionHeader p{
    color:blue;
    cursor:pointer;
    
}

.view-all-link-task{
   text-decoration:none;
   color:inherit;
}

.task-section-container{
    width:400px;
    height:230px;
    margin-top:20px;
    background-color: #fff;
    padding:20px;
    border:1px solid #c1c1c1;
    border-radius:10px;
    box-shadow:
    0 10px 30px rgba(0,0,0,0.08),
    0 2px 8px rgba(0,0,0,0.04); 
    flex:0.8
}


/* css */

.reminderSectionContainer{
    width:fit-content;
    margin-top:20px;
    height:230px;
    background-color: #fff;
    padding:20px;
    border:1px solid #c1c1c1;
    border-radius:10px;
    box-shadow:
    0 10px 30px rgba(0,0,0,0.08),
    0 2px 8px rgba(0,0,0,0.04); 
}

.reminderSectionHeader{
    display:flex;
    
}

.reminderSectionHeader p{
    margin-left:auto;
    color:blue;
    margin-bottom:15px;
    cursor:pointer;
}

.Task-row-container{
    margin-top:20px;
    display:flex;
    gap:40px;
    margin-bottom:10px;
    
}

/* .Task-row-container span{
    background-color:blue;
    border-radius:50%;
    width:10px;
    height:10px;
    
} */

#dateOfTask{
    margin-left:auto;
}


.placeholder-container-task{
    display:flex;
    justify-content:center;
    align-items:center;
    width:300px;
    justify-content:center;
}

.empty-placeholder-task-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    
}

.go-to-task{
    display:flex;
    align-items:center;
    gap:3px;
    height:35px;
    padding:5px;
    font-size:15px;
    border:1px solid #30f61a;
    border-radius:3px;
    color:#30f61a;
    background-color: #e9ffe7;
    font-weight:600;
    cursor:pointer;
}

.task-section-data-container{
    display:flex;
    justify-content:center;
    align-items:center;
}





