.appliation-navs-container{
    display:flex;
    align-items:center;
    height: 50px;
    /* background-color: #c13d3d; */
}

.application-navs{
    display:flex;
    gap:30px;
    
}

.application-navs p{
    cursor:pointer;
    padding:8px 15px;
    
}

.application-navs p:hover{
    background-color: #c9d4fb;
    border-radius:5px;
    color:#0031e2
    
}

.filter-and-addJob{
    display:flex;
    gap:30px;
    margin-left:auto;
    align-items:center;
}

.filter-and-addJob div{
    display:flex;
    align-items:center;
    gap:10px;
    border: 1px solid #c1c1c1;
    border-radius:5px;
    padding:3px 6px;;
    cursor:pointer;
}
.filter-and-addJob div:hover{
    background-color: #eef2ff;
}
.filter-and-addJob button{
    width:130px;
    height:35px;
    background-color: #2e25d8;
    border: 2px solid #2e25d8;
    border-radius:5px;
    color:whitesmoke;
    cursor:pointer;
}
.filter-and-addJob button:hover{
     background-color:rgb(17, 0, 255);
     border:2px solid rgb(17, 0, 255);
}

.application-table-container{
    margin-top:50px;
    background-color: #fff;
    border:1px solid #c1c1c1;
    border-radius:10px;
}

/* .service-and-logo{
    display:flex;
    align-items:center;
    gap:10px;
} */

table{
  width: 100%;
  border-collapse: collapse;
}

th{
  padding: 16px;
  border-bottom:1px solid #000000;
  text-align:left;
}
td{
  padding: 16px;
  border-bottom:1px solid #c1c1c1;
  text-align:left;
}


.pagination-container{
    padding:20px 16px;
    display:flex;

}

.pagination-container h3{
    margin-left:auto;
}


.view-all-link{
   text-decoration:none;
   color:inherit;
}


.application-empty-img-wrapper{
    /* background-color: #fff; */
    margin-top:40px;
    /* border-radius:10px; */
    /* border:1px solid #c1c1c1; */
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:30px;
}

.application-empty-img-wrapper h3{
    margin:20px;
}
.application-empty-img-wrapper img{
    margin-top:-50px;
}

.application-empty-img-wrapper p{
    line-height:30px;
}

.add-new-job-btn-placeholder button{
    width:200px;
    height:40px;
    background-color: rgb(17, 0, 255);
    border:none;
    border-radius:5px;
    color:white;
    cursor:pointer;
    margin-top:20px;
    font-size:15px
}


.Applied{
    background-color:rgb(249, 233, 249);
    color:purple;
    text-align:center;
    padding:10px ;
    width:fit-content;
    border-radius:10px;
}

.Interview{
    background-color:rgb(216, 235, 248);
    color:rgb(0, 140, 255);
    text-align:center;
    padding:10px ;
    width:fit-content;
    border-radius:10px;
}

.Under-Review{
    background-color:rgb(253, 253, 234);
    color:rgb(255, 170, 0);
    text-align:center;
    padding:10px ;
    width:fit-content;
    border-radius:10px;
}

.assessment-offer{
    background-color: #f2fae9;
    color:green;
    text-align:center;
    padding:10px ;
    width:fit-content;
    border-radius:10px;
}

.Rejected{
    background-color: #f0dcdc;
    color:rgb(255, 0, 0);
    text-align:center;
    padding:10px ;
    width:fit-content;
    border-radius:10px;
}
