.finalDashboardContainer{

    display:flex;

    min-height:100vh;
}

.mainDashboardSection{

    flex:1;

    display:flex;

    flex-direction:column;
    /* background-color: #ffffff; */
    
}

.dashboardContent{

    flex:1;

    padding:20px;
    margin-top:67px;
}

.margin-active-dashboard{
    margin-left:216px
}